<div class="container comments-section">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto"><hr>
            <div id="commentButton">
                <em class="small">comments are turned {% if page.comments-on %}on{% else %}off{% endif %} for this post</em><br>
            <button class="btn btn-dark btn-sm" onclick="toggle_visibility('comments');">View comments</button>
            </div>
            <div id="comments" style="display:none;">  

                <script src="https://utteranc.es/client.js"
                  repo="Erisred/Blog"
                  issue-term="pathname"
                  theme="github-dark"
                  crossorigin="anonymous"
                  async>
                </script>
        
            </div>
        </div>
    </div>
</div>