/* ************************************************************************** */
/* General style tweaks */
/* ************************************************************************** */

a, h2.post-title {color:#a5b6c0;}
a:hover, h2.post-title:hover {color:rgb(136,158,170);}
/*a:hover, h2.post-title:hover {color:#a5b6c0;}
a, h2.post-title {color:rgb(136,158,170);}*/
header {color: $gray-500;}
hr {background-color: $gray-600;}
hr.red {background-color:#c63939;}
.meta {font-size: 75%;color:#dddddd;} /* the posted by... blurb */

/* There's no top margin on headers. What, really? */
/* I kept each separate in case someday I want different sizes to have different spacing */
h1 {margin-top:20px;}
h2 {margin-top:20px;}
h3 {margin-top:20px;}
h4 {margin-top:20px;}
h5 {margin-top:20px;}
h6 {margin-top:20px;}

/* footnotes */
.footnotes {margin-bottom:10px;font-size:75%; font-family: 'Courier New', Courier, monospace;padding-top: 10px;padding-bottom: 10px;background-color: $gray-800;}
.footnotes p {margin: 5px;}
.footnotes:before {content:"Footnotes";}

/* code blocks */
pre.highlight {
    background-color: $gray-300;
    padding: 0px 12px;
    border-radius:8px;
    font-family: 'Courier New', Courier, monospace;
    font-size:80%;
    white-space: pre-wrap;
    overflow-x: auto;
    tab-width: 4;
}

.highlighter-rouge {
    font-family: 'Courier New', Courier, monospace;
    font-size:85%;
    background-color:#454545;
    color:white;
    padding:1px 4px;
    border-radius:7px;
}

/* ************************************************************************** */
/* Navigation menu tweaks */
/* ************************************************************************** */

/* Navigation menu colors */
#mainNav.is-fixed a.navbar-brand, #mainNav a.navbar-brand, #mainNav .navbar-nav > li.nav-item > a,
#mainNav.is-fixed .navbar-nav > li.nav-item > a, #mainNav .navbar-toggler {
    color: #dddddd;

    &:hover {
        color:#ffffff;
    }
}
#mainNav.is-fixed {border-bottom: 1px solid var(--gray);}


/* ************************************************************************** */
/* Masthead - titles, subtitles, images, and image attribtions */
/* ************************************************************************** */

/* The overlay opcaity is a little much - the shading of the image */
header.masthead .overlay {
    opacity: 0.2;
}

/* Placing and styling the 'imgcaption' attribute on the masthead photo */
.imgcaption {
    position:absolute;
    bottom:10px;
    right: 0px;
    font-size:12px;
    color: $gray-800;
}
.imgcaption a {
    color: unset;
    text-decoration: underline;
}

header.masthead .post-heading .meta {font-size: 75%;}
.post-preview > .post-meta {font-size: 75%;}
h3.post-subtitle {font-size: 90%;}

img.post-preview-img {
    height: 100px;
    max-width: 200px;
    top:6px;
}


/* ************************************************************************** */
/* post tweaks */
/* ************************************************************************** */

.post-preview-img {
    height:120px;
    width: 200px;
    position:relative;
    top:20px;
    float:right;
}
header.postHeader {margin-top:75px;color:#dddddd;}
.post-preview h3.post-subtitle {color:$text-primary;}

.post-preview {background-color: transparent; border-top: 1px solid $gray-500;border-radius: 0;margin-top: 10px;}
.post-preview h2.post-title {font-size: 22px; margin-top: 10px;}
p.post-meta {margin-bottom:0px;}

/* ************************************************************************** */
/* Tags and categories */
/* ************************************************************************** */

.postCategories {font-size:80%; padding: 0px 4px; /*border:1px solid $gray-700; border-radius:10px;*/font-family: 'Courier New', Courier, monospace;}
.postTags {font-size:80%; padding: 0px 4px; /*border:1px solid $gray-700; border-radius:10px;*/font-family: 'Courier New', Courier, monospace;}
.categoryline {float: right;}
.tagline {}