/* ************************************************************************** */
/* General style tweaks */
/* ************************************************************************** */

a, h2.post-title {color:#a5b6c0;}
a, h2.post-title {color:#A3BCCB;}
a:hover, h2.post-title:hover, a:active, a:focus {color:#889EAA;}
/*a, h2.post-title {color:#D6923C;}*/
/*a:hover, h2.post-title:hover, a:active, a:focus {color: #A46F2B;}*/
p a:any-link {text-decoration: none;}
p a:any-link:hover, p a:any-link:active, p a:any-link:focus, a:any-link:hover {text-decoration:none;}
/*a:hover, h2.post-title:hover {color:#a5b6c0;}
a, h2.post-title {color:rgb(136,158,170);}*/
header {color: $gray-500;}
hr {background-color: $gray-600;}
hr.red {background-color:#c63939;}
.meta {font-size: 75%;color:#dddddd;} /* the posted by... blurb */

/* There's no top margin on headers. What, really? */
/* I kept each separate in case someday I want different sizes to have different spacing */
h1 {margin-top:20px;}
h2 {margin-top:20px;}
h3 {margin-top:20px;}
h4 {margin-top:20px;}
h5 {margin-top:20px;}
h6 {margin-top:20px;}

/* footnotes */
.footnotes {margin-bottom:10px;font-size:75%; font-family: 'Courier New', Courier, monospace;padding-top: 10px;padding-bottom: 10px;background-color: $gray-800;}
.footnotes p {margin: 5px;}
.footnotes:before {content:"Footnotes";}

/* code blocks */
pre.highlight {
    background-color: $gray-400;
    padding: 15px 10px;
    border-radius:8px;
    font-family: 'Courier New', Courier, monospace;
    font-size:80%;
    white-space: pre-wrap;
    overflow-x: auto;
    tab-width: 4;
}

.highlighter-rouge {
    font-family: 'Courier New', Courier, monospace;
    font-size:85%;
    background-color:#454545;
    color:white;
    padding:1px 4px;
    border-radius:7px;
}

/* ************************************************************************** */
/* Navigation menu tweaks */
/* ************************************************************************** */

/* Navigation menu colors */
#mainNav.is-fixed a.navbar-brand, #mainNav a.navbar-brand, #mainNav .navbar-nav > li.nav-item > a,
#mainNav.is-fixed .navbar-nav > li.nav-item > a, #mainNav .navbar-toggler {
    color: #dddddd;

    &:hover {
        color:#ffffff;
    }
}
#mainNav.is-fixed {border-bottom: 1px solid var(--gray);}


/* ************************************************************************** */
/* Masthead - titles, subtitles, images, and image attribtions */
/* ************************************************************************** */

/* The overlay opcaity is a little much - the shading of the image */
header.masthead .overlay {
    opacity: 0.2;
}

/* Placing and styling the 'imgcaption' attribute on the masthead photo */
.imgcaption, .imgcaptioninv {
    position:absolute;
    bottom:10px;
    right: 0px;
    font-size:12px;
    color: $gray-800;
}

.imgcaption a, .imgcaptioninv a {
    color: unset;
    text-decoration: underline;
}
.imgcaptioninv {color: $gray-300;}

header.masthead .post-heading .meta {font-size: 75%;}
.post-preview > .post-meta {font-size: 75%;}
h3.post-subtitle {font-size: 90%;}

img.post-preview-img {
    height: 100px;
    max-width: 200px;
    top:6px;
}

.post-subtitle {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8em;
    max-width: 350px;
    margin: 1.0em 0em;
    padding-left: 1em;
    border-left: 1px solid $gray-600;
    color: $gray-400;
}



/* ************************************************************************** */
/* post tweaks */
/* ************************************************************************** */

.post-preview-img {
    height:120px;
    width: 200px;
    position:relative;
    top:20px;
    float:right;
}
header.postHeader {margin-top:75px;color:#dddddd;}
.post-preview h3.post-subtitle {color:$text-primary;}

.post-preview {background-color: transparent; border-top: 1px solid $gray-500;border-radius: 0;margin-top: 10px;}
.post-preview h2.post-title {font-size: 22px; margin-top: 10px;}
p.post-meta {margin-bottom:0px;}

/* ************************************************************************** */
/* Tags and categories */
/* ************************************************************************** */

.postCategories {font-size:80%; padding: 0px 4px; /*border:1px solid $gray-700; border-radius:10px;*/font-family: 'Courier New', Courier, monospace;}
.postTags {font-size:80%; padding: 0px 4px; /*border:1px solid $gray-700; border-radius:10px;*/font-family: 'Courier New', Courier, monospace;}
.categoryline {float: right;}
.tagline {}

.comments-section {margin-top: 10px; padding-top: 10px;}

/* ************************ */
.related-group {
  margin-left: 10px;
  width: 90% !important;
  height: 100%;
  border-radius: 4px;
  cursor: pointer;
}

.related-group:hover {
  background-color: #ddd;
}

.related-group a {
  text-decoration: none;
}

.related-title {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px !important;
  font-family: Inter, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
  font-weight: 600;
  margin-bottom: 0px;
}

.related-excerpt:before {
  content: '"';
}

.related-excerpt:after {
  content: '"';
}

.related-excerpt {
  color: #555555 !important;
  padding-left: 10px;
  padding-right: 5px;
  font-size: 16px !important;
}

.input {
  font-size: 0.9em;
  padding: 0.1em 0.25em;
  background-color: #ddd;
  border: 2px solid #8b8a8b;
  border-radius: 8px;
}