.imgcaption {
    position:absolute;
    bottom:10px;
    right: 0px;
    font-size:12px;
    color: $text-darker;
}

hr {
    background-color:$gray-600;
}

#mainNav.is-fixed a.navbar-brand, #mainNav a.navbar-brand, #mainNav .navbar-nav > li.nav-item > a,
#mainNav.is-fixed .navbar-nav > li.nav-item > a, #mainNav .navbar-toggler {
    color: #dddddd;

    &:hover {
        color:#ffffff;
    }
}
#mainNav.is-fixed {border-bottom: 1px solid var(--gray);}
.post-preview-img {height:120px;width: 200px;position:relative;top:20px;float:right;}

.post-preview h3.post-subtitle {color:$text-primary;}

/* There's no top margin on headers. What, really? */
/* I kept each separate in case someday I want different sizes to have different spacing */
h1 {margin-top:20px;}
h2 {margin-top:20px;}
h3 {margin-top:20px;}
h4 {margin-top:20px;}
h5 {margin-top:20px;}
h6 {margin-top:20px;}

header.masthead .post-heading .meta {font-size: 75%;}
.post-preview > .post-meta {font-size: 75%;}
h3.post-subtitle {font-size: 90%;}

header.postHeader {margin-top:75px;}
.meta {font-size: 75%; float:right;}


header {color: $gray-500;}

.postTags {font-size:80%; padding: 0px 4px; /*border:1px solid $gray-700; border-radius:10px;*/font-family: 'Courier New', Courier, monospace;}
.postCategories {}
.tagline {float: right;}
.footnotes {margin-bottom:10px;font-size:75%; font-family: 'Courier New', Courier, monospace;padding-top: 10px;padding-bottom: 10px;background-color: $gray-800;}
.footnotes p {margin: 5px;}
.footnotes:before {content:"Footnotes";}
pre.highlight {background-color: $gray-300;padding:12px;border-radius:8px;font-size:80%;}