---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">
                    <h1>{{ page.title }}</h1>
                    {% include post_blurb.html %}
                    {% if page.imgcaption %}
                    <span class="imgcaption">{{ page.imgcaption }}</span>
                    {% endif %}
                    {% if page.imgcaptioninv %}
                    <span class="imgcaptioninv">{{ page.imgcaptioninv }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>
{% else %}
<header class="postHeader">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h1>{{page.title}}</h1>
                {% if page.subtitle %}
                <!--<em class="small">{{ page.subtitle }}</em><br/>-->
                {% endif %}
                {% include post_blurb.html %}
            </div>
        </div>
    </div>
</header>
{% endif %}

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% if page.subtitle %}<div class="post-subtitle">{{ page.subtitle }}</div>{% endif %}
        {% include categoryline.html %}<br>

        {{ content }}

        {% include tagline.html %}

        <hr>

        <div class="clearfix">

          {% if page.previous.url %}
          <a class="btn btn-brand float-left" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.previous.title }}">&larr; Older<span class="d-none d-md-inline">
              Post</span></a>
          {% endif %}
          {% if page.next.url %}
          <a class="btn btn-brand float-right" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.next.title }}">Newer<span class="d-none d-md-inline">
              Post</span> &rarr;</a>
          {% endif %}

        </div>
      </div>
    </div>
  </div>